<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user password</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/api/v1/administration/users/{id}/edit_password(id=${ID})}" th:object="${user}">

    <input type="hidden" th:field="*{roles}" id="roles">
    <input type="hidden" th:field="*{telegram}" id="telegram">
    <input type="hidden" th:field="*{login}" id="login">
    <br><br>

    <label for="password">Новый пароль: </label>
    <input type="text"  name="password" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
    <br/>
    <input type="submit" value="Обновить!"/>
</form>

<br>
<form th:method="GET" th:action="@{/api/v1/administration/users}">
    <input type="submit" value="Вернуться к списку пользователей"/>
</form>
</body>
</html>
