<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users index</title>
</head>
<body>
<br/>
<h3>Список пользователей:</h3>
<div th:each="user : ${users}">
    <a th:if="${ not #strings.isEmpty(user.telegram) }"
       th:href="@{/api/v1/administration/users/{id}(id=${user.getId()})}"
       th:text="${user.getLogin() + ', ' + user.getRoles() + ', Telegram : ' + user.getTelegram()}">user</a>
    <a th:if="${ #strings.isEmpty(user.telegram) }"
       th:href="@{/api/v1/administration/users/{id}(id=${user.getId()})}"
       th:text="${user.getLogin() + ', ' + user.getRoles() }">user</a>
</div>
<br/>
<h3>Список отправивших запрос на авторизацию в Telegram:</h3>
<div th:each="interaction : ${interactions}">
    <a th:if="${ not #strings.isEmpty(interaction.getUsername()) }"
       th:text="'Telegram id : ' + ${interaction.getTelegram_id() + ',    ' +
     'Telegram username : ' + interaction.getUsername() + ',    ' +
     'time : ' + interaction.getTime() }">user</a>
    <a th:if="${ #strings.isEmpty(interaction.getUsername()) }"
       th:text="'Telegram id : ' + ${interaction.getTelegram_id() + ',    ' +
     'time : ' + interaction.getTime() }">user</a>
</div>
<br/>
<form th:method="DELETE" th:action="@{/api/v1/administration/users/interactions}">
    <input type="submit" value="Очистить список желающих взаимодействия в Telegram"/>
</form>
<br/>
<hr/>
<form th:method="GET" th:action="@{/api/v1/administration/users/new}">
    <input type="submit" value="Добавить нового пользователя"/>
</form>
</body>
</html>