<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${'Логин: ' + user.getLogin()}">VALUE</p>
<br/>
<p th:if="${ not #strings.isEmpty(user.telegram) }"
   th:text="${'Telegram ID: ' + user.getTelegram()}">VALUE</p>
<br/>
<p th:text="${'Роли: ' + user.getRoles()}">VALUE</p>
<br/><br/><br/>

<form th:method="GET" th:action="@{/api/v1/administration/users/{id}/edit(id=${ID})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>

<form th:method="GET" th:action="@{/api/v1/administration/users/{id}/edit_password(id=${ID})}">
    <input type="submit" value="Редактировать пароль"/>
</form>
<br/>

<form th:method="DELETE" th:action="@{/api/v1/administration/users/{id}(id=${ID})}">
    <input type="submit" value="Удалить"/>
</form>
<br>

<form th:method="GET" th:action="@{/api/v1/administration/users}">
    <input type="submit" value="Вернуться к списку пользователей"/>
</form>
</body>
</html>